{
  "presets": [
      ["@babel/env",{
        // "modules":"commonjs"
        // "useBuiltIns":"usage"
        // "modules": false
      }],
      "@babel/react"
  ],
  "plugins": [
      "@babel/plugin-syntax-dynamic-import"
      // "@babel/plugin-transform-runtime"
  ]
}