{
  "presets": [
      ["@babel/env",{
        // "modules":"commonjs"
        // "useBuiltIns":"usage"
        // "modules": false
        "useBuiltIns": "entry",
        "corejs": 2
      }],
      "@babel/react"
  ],
  "plugins": [
      "@babel/plugin-syntax-dynamic-import"
      // "@babel/plugin-transform-runtime"
  ]
}